Repository xkbcommon/libxkbcommon, pull requests merged in 2024-02, with the labels that each got.

#423 Fix crash when an element of SymbolsBody is empty
  src/xkbcomp/parser.y
  test/data/keymaps/empty-symbol-decl.xkb
  test/filecomp.c
Labels: bug, compile-keymap

#440 Keysyms: Update using latest xorgproto
  include/xkbcommon/xkbcommon-keysyms.h
  src/keysym.h
  src/ks_tables.h
  test/data/keymaps/stringcomp.data
  test/keysym.c
Labels: keysyms generator, keysyms

#444 keysyms: Update using latest xorgproto
  include/xkbcommon/xkbcommon-keysyms.h
  src/ks_tables.h
Labels: keysyms

#377 Improve documentation (Part 3)
  README.md
  doc/cool-uris.yaml
  doc/diagrams/xkb-keymap-components.dot
  doc/keymap-format-text-v1.md
  doc/user-configuration.md
  meson.build
Labels: documentation
