Repository xkbcommon/libxkbcommon, pull requests merged in 2025-03, with the labels that each got.

#673 doc: Warn about the options order
  doc/rules-format.md
  doc/user-configuration.md
Labels: documentation, rules

#671 keymap: fix modular arithmetic
  changes/api/+group-wrap.bugfix.md
  src/keymap-priv.c
  test/state.c
Labels: bug, state

#659 xkbcomp/ast-build: fix possible UB in expr AST node allocations
  src/xkbcomp/ast-build.c
Labels: compile-keymap, compiler warning

#675 Registry/safer parser functions
  meson.build
  src/registry.c
Labels: registry

#684 messages: Add file encoding and invalid syntax entries
  doc/message-registry.md
  doc/message-registry.yaml
  src/compose/parser.c
  src/messages-codes.h
  src/scanner-utils.h
  src/xkbcomp/expr.c
  src/xkbcomp/parser.y
  src/xkbcomp/rules.c
  src/xkbcomp/scanner.c
  src/xkbcomp/symbols.c
  src/xkbcomp/types.c
  test/log.c
  test/messages.c
  tools/messages.c
Labels: documentation, compose, compile-keymap, rules

#686 ci: Revert workaround unavailable gitlab.freedesktop.org
  .github/workflows/linux.yml
Labels: ci

#688 tools: Ensure to honor user locale
  changes/tools/+honor-locale.feature.md
  tools/check-messages.c
  tools/compile-keymap.c
  tools/export-keysyms.c
  tools/how-to-type.c
  tools/interactive-wayland.c
  tools/interactive-x11.c
  tools/registry-list.c
  tools/xkbcli.c
Labels: tools: interactive, tools: how-to-type, tools: dump, tools: compile-keymap, tools: compile-compose

#689 symbols: Fix leak in HandleSymbolsDef
  src/xkbcomp/symbols.c
Labels: bug, compile-keymap

#682 xkbcomp: Fix whichGroupState serialization
  changes/api/+whichGroupState.bugfix.md
  src/text.c
  src/text.h
  src/xkbcomp/keymap-dump.c
Labels: bug, compile-keymap

#693 registry: Added support for libxml2 2.14+
  changes/api/692.bugfix.md
  src/registry.c
Labels: bug, registry

#685 rules: Added extended wild cards <none>, <some> and <any>
  changes/api/+extended-rules-wild-cards.feature.md
  doc/compatibility.md
  doc/rules-format.md
  src/xkbcomp/rules.c
  test/data/rules/extended-wild-cards
  test/rules-file.c
Labels: enhancement, rules

#683 Enable merge mode “replace” in include statements
  changes/api/+replace-include.feature.md
  doc/compatibility.md
  doc/keymap-format-text-v1.md
  doc/rules-format.md
  src/xkbcomp/ast-build.c
  src/xkbcomp/include.c
  src/xkbcomp/include.h
  src/xkbcomp/rules.c
  test/data/rules/merge-mode-replace
  test/rules-file.c
  test/rulescomp.c
Labels: compile-keymap, rules

#696 doc: Optional components
  changes/api/+optional-keymap-components.feature.md
  doc/compatibility.md
Labels: documentation
