Repository xkbcommon/libxkbcommon, pull requests merged in 2025-05, with the labels that each got.

#747 Define the mapping of real modifiers explicitly
  src/keymap-priv.c
  src/state.c
  test/modifiers.c
Labels: compile-keymap, state

#749 Fix key type map entry with unbound vmod not ignored
  changes/api/758.bugfix.md
  src/keymap.h
  src/xkbcomp/keymap.c
  test/data/symbols/latch
  test/state.c
Labels: bug, state

#745 state: Fix virtual modifiers with non-real mod mapping
  changes/api/+state-mod-mask-handling.breaking.md
  src/keymap-priv.c
  src/keymap.h
  src/state.c
  src/xkbcomp/keymap.c
  test/modifiers.c
  test/state.c
Labels: state

#746 Do not discard extra bits in vmod masks
  src/xkbcomp/keymap.c
  test/buffercomp.c
  test/data/keymaps/masks-extra-bits.xkb
Labels: compile-keymap

#756 Add tests for pure virtual modifiers
  test/data/compat/basic
  test/data/keymaps/pure-virtual-mods.xkb
  test/data/rules/evdev-pure-virtual-mods
  test/data/symbols/pc
  test/data/types/virtual_modifiers
  test/keyseq.c
  test/modifiers.c
  test/state.c
Labels: testing

#748 modifiers: Add xkb_keymap_mod_get_mask()
  changes/api/+xkb_keymap_mod_get_mask.feature.md
  doc/faq.md
  include/xkbcommon/xkbcommon.h
  src/keymap.c
  test/modifiers.c
  xkbcommon.map
Labels: state

#762 xkbcomp: Fix affect field wrongly accepted in SetControls() action
  src/xkbcomp/action.c
Labels: bug, compile-keymap

#761 test: Added further case to xkb_state_update_latched_locked
  test/state.c
Labels: testing, state

#763 actions: Add VoidAction(), mirroring NoSymbol/VoidSymbol.
  changes/api/622.feature.md
  doc/keymap-format-text-v1.md
  src/keymap-priv.c
  src/keymap.h
  src/state.c
  src/text.c
  src/xkbcomp/action.c
  src/xkbcomp/keymap-dump.c
  test/buffercomp.c
  test/data/keymaps/symbols-multi-actions.xkb
  test/data/keymaps/voidaction
  test/state.c
Labels: compile-keymap

#766 doc: Improve actions
  doc/keymap-format-text-v1.md
Labels: documentation

#768 doc: Modifier declaration and binding
  doc/keymap-format-text-v1.md
Labels: documentation

#773 compose: Fix sequence not fully overriden
  changes/api/+compose-misoverriding.bugfix.md
  src/compose/parser.c
  test/compose.c
Labels: bug, compose

#570 Always retain later Compose sequence in case of conflict
  changes/api/+compose-new-overrides-old.breaking.md
  include/xkbcommon/xkbcommon-compose.h
  src/compose/parser.c
  test/compose.c
Labels: compose, needs info
