Repository xkbcommon/libxkbcommon, pull requests merged in 2025-01, with the labels that each got.

#588 xkbcli list: Fix duplicate variants
  changes/tools/587.bugfix.md
  src/registry.c
  test/registry.c
Labels: bug, registry

#590 x11: Keep level when the keysym is undefined but not the action
  changes/api/+fix-x11-action-only-handling.bugfix.md
  src/x11/keymap.c
  test/data/keymaps/host.xkb
Labels: bug, X11 legacy: compatibility

#593 compat: Fix Interp & LED merge modes
  src/xkbcomp/compat.c
  test/data/keymaps/merge-modes/compat.xkb
  test/merge_modes.c
Labels: bug, compile-keymap

#584 Clear mods properly with `|=`
  changes/api/583.bugfix.md
  src/state.c
  test/data/symbols/simultaneous-mods-latches
  test/keyseq.c
Labels: bug, state

#585 Use test map for checking --version-script, instead of full map
  changes/build/481.bugfix.md
  meson.build
  test/meson_test.map
Labels: build system

#601 registry: Refactor to avoid hazardous casts
  src/registry.c
Labels: compiler warning, registry

#603 bench: Fix embedded directive within macro arguments
  bench/compile-keymap.c
Labels: compiler warning

#606 actions: Fix SwitchScreen screen value range
  src/xkbcomp/action.c
Labels: bug, compile-keymap

#598 keysyms: Check clashes between keysyms names and keywords
  scripts/makekeys
  scripts/update-keysyms
  src/xkbcomp/parser.y
Labels: compile-keymap, keysyms generator

#612 tools: Fix signed literal used as a mask
  tools/interactive-evdev.c
Labels: bug, tools: interactive

#625 tests: Fix deprecated keysyms in Compose data
  test/data/locale/en_US.UTF-8/Compose
Labels: testing, compose

#623 test/compose: reduce quickcheck iterations
  test/compose.c
Labels: testing, compose

#626 xkbcomp: Add stricter bounds for keycodes and levels
  src/darray.h
  src/keymap.h
  src/xkbcomp/expr.c
  src/xkbcomp/keycodes.c
  test/buffercomp.c
Labels: bug, compile-keymap

#630 test: Add check for keymap and compose compilation logs
  src/compose/parser.c
  test/log.c
Labels: testing

#632 tools: Enable Compose file positional argument and piping
  changes/tools/+compile-compose.feature.md
  meson.build
  tools/compile-compose.c
  tools/compile-keymap.c
  tools/xkbcli-compile-compose.1
Labels: enhancement, tools: compile-compose
